h1 {
  color: violet;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  color: purple
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: roboto;
}

li {
  font-style: italics;
}

body {
  background-color: fuchsia;
}